__pycache__
*.egg-info  
DragonProxy/data
DragonProxy/DragonProxy.jar
MockBukkit*
data
.vscode
raspberryjuice-*.jar
pycraft/items.tsv
pycraft-templates
notebooks
env
node_modules
build 
dist

pycraft-server/pkg/**
